trigger:
  branches:
    include:
      - main
      - master
      - aks

stages:


- stage: Deploy
  displayName: Deploy to AKS
  jobs:  
  - job: Deploy
    displayName: Deploy job
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: KubernetesManifest@0
      displayName: Deploy to Kubernetes cluster
      inputs:
        action: 'deploy'
        kubernetesServiceConnection: 'cantella-dev-cluster-connection'  # Azure Kubernetes Service connection
        namespace: 'default'  # Namespace in your AKS cluster
        manifests: '**/k8s/*.yaml'  # Path to your Kubernetes manifests