trigger:
  branches:
    include:
      - main
      - master

stages:
- stage: Build
  displayName: Build and push stage
  jobs:  
  - job: Build
    displayName: Build job
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Docker@2
      displayName: Build and push an django to container registry
      inputs:
        command: buildAndPush
        repository: 'cantelladev.azurecr.io/django-app-dev'
        dockerfile: './django_app/Dockerfile-dev'
        containerRegistry: 'cantella-dev-registry'
        tags: |
          1.0

    - task: Docker@2
      displayName: Build and push an django to container registry
      inputs:
        command: buildAndPush
        repository: 'cantelladev.azurecr.io/django-app-prod'
        dockerfile: './django_app/Dockerfile-prod'
        containerRegistry: 'cantella-dev-registry'
        tags: |
          1.0

    - task: Docker@2
      displayName: Build and push an nginx to container registry
      inputs:
        command: buildAndPush
        repository: 'cantelladev.azurecr.io/nginx'
        dockerfile: './nginx/Dockerfile'
        containerRegistry: 'cantella-dev-registry'
        tags: |
          1.0